button {
    box-shadow: none;
    border: none;
    background-color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14pt;
    letter-spacing: -0.20%;
  }
  
.cancelButton-delete, .submitButton-delete {
  width: 20%;
  padding: 1%;
  border: 1px solid #ccc;
}

.cancelButton-delete {
  position: absolute;
  left: 0%;
  top: 15%;
}

img {
  padding-bottom: 3%;
}

.submitButton-delete {
  position: absolute;
  left: 55%;
}

.card-body {
    margin-bottom: 7%;
    padding-top: 1%;
}