.wrapper {
    width:75%;
    margin-left:12%;
    margin-right:12%;
}
.cards-col {
    float:left;
    position: relative;
    right:2%;
    width:85%;
}

.settings-col {
    width:14%;
    position: relative;
    left: 3.5%;
    float:right;
    background-color: white;
    border:1px solid black;
    margin-bottom:2%;
}

