  .imgPreview {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    height: 35%;
    width: 75%;
    border-left: 1px solid #ccc;
    border-right: 1px solid #ccc;
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
  }
.imgPreview img {
    width:100%;
    height: 100%;
  } 

  .previewText {
    width: 75%;
    margin-top: 25%;
    margin-bottom: 25%;
  }

  .flex-start {
    display: flex;
    justify-content: flex-start;
}