.input-color {
    position: relative;
}
.input-color input {
    padding-left: 20px;
}
.input-color .color-box {
    width: 90px;
    height: 20px;
    display: inline-block;
    border: 1px solid #ccc;
}

.container {
    border: 1px solid #ccc;
    margin-top: 3%;
    padding: 2%;
    background-color: white;
    margin-bottom: 2%;
    width: 75%;
    margin-left: auto;
    margin-right: auto;
}

.flex-container {
    display: flex;
    justify-content: center;
    padding: 2%;
}

.flex-direction {
    flex-direction: column;
    padding: 2%;
}

.delete-button {
    left:20%;
}