button {
    box-shadow: none;
    border: none;
    background-color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14pt;
    letter-spacing: -0.20%;
}

.button-forgot {
    width: 47%;
    padding-top: 0.75%;
    padding-bottom: 0.75%;
    padding-right: 0%;
    border: 1px solid #ccc;
    margin-right: auto;
    margin-left: auto;
    margin-top: 1%;
    margin-bottom: 1%;
}

.container {
    border: 1px solid #ccc;
    margin-top: 3%;
    padding: 2%;
    background-color: white;
    margin-bottom: 2%;
    width: 75%;
    margin-left: auto;
    margin-right: auto;
}

#email-forgot {
    margin-left: 11%;
}

#email-forgot, #username-forgot {
    padding: 1%;
    border: 1px solid #ccc;
    box-sizing: border-box;
    margin-top: 1.5%;
    margin-bottom: 1.5%;
    width: 34.5%;
}

.emailInput {

    width: 80%;
}

.email-label, .username-label {
    padding-top: 2%;
    float: left;
    margin-left: 33%;   
}

#username-forgot {
    margin-left: 7%;
}

.usernameInput {
    padding-top: 0%;
    width: 80%;

}

