.inputs {
    border: 1px solid #ccc;
    margin-top: 3%;
    padding: 2%;
    background-color: white;
    margin-bottom: 2%;
    width: 75%;
    margin-left: auto;
    margin-right: auto;
}

.emailInput {
    padding-top: 0px;
    width: 800px;
    position: relative;
    left: 0px;
}

.usernameInput {
    padding-top: 0%;
    padding-bottom: 2%;
    padding-right: 0px;
    width: 800px;
    position: relative;
    left: 0px;
}

.email-label, .username-label {
    padding-top: 15px;
    float: left;
    margin-left: 255px;   
}

.notification-message {
    display: inline-block;
    position: relative;
    left: -320px;
    top: 58px;
    font-weight: bold;
    padding-top: 1%;
    padding-bottom: 2%;
}

button {
    box-shadow: none;
    border: none;
    background-color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14pt;
    letter-spacing: -2px;
}

.button {
    width: 450px;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-right: 0px;
    border: 1px solid #ccc;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 60px;
    position: relative;
    left: 0px;
    top: 50px;
}