.settings {
    border: 1px solid #ccc;
    margin-top: 3%;
    padding: 2%;
    background-color: white;
    margin-bottom: 2%;
    width: 75%;
    margin-left: auto;
    margin-right: auto;
}

.password {
    padding-top: 2%;
    padding-bottom: 0px;
    padding-right: 15px;
    width:810px;
    position: relative;
    left: 16px;
}

.email {
    padding-top: 0px;
    width: 800px;
    position: relative;
    left: 0px;
}

.weight {
    padding-top: 0%;
    padding-bottom: 2%;
    padding-right: 0px;
    width: 800px;
    position: relative;
    left: 0px;
}


.email-label, .weight-label {
    padding-top: 15px;
    float: left;
    margin-left: 255px;   
}

.password-label {
    padding-top: 15px;
    float: left;
    margin-left: 255px; 
    position: relative;
    left: -17px;
}

#icon-one {
    position: relative;
    left: 28px;
    top: 15px;
}

#icon-two {
    position: relative;
    left: -8px;
    top: 0px;
}

#icon-three {
    position: relative;
    left: 33px;
    top: 0px;
}

#email, #password-change, #weight {
    padding: 7px;
    position: relative;
}

#email {
    width: 288px;
    left: 113px;
    top: 0px;
}

#password-change {
    width: 230px;
    left: -15px;
    top: 0px;
}

#weight {
    width: 250px;
    left: 103px;
    top: 0px;
}


.save {
    width: 450px;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-right: 0px;
    border: 1px solid #ccc;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 5px;
}

button {
    border: none;
    background-color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14pt;
    letter-spacing: -2px;
}

.lbs {
    display: inline-block;
    position: relative;
    top: 0px;
    left: 15px;
}