button {
    box-shadow: none;
    border: none;
    background-color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14pt;
    letter-spacing: -0.20%;
}

.container {
    border: 1px solid #ccc;
    margin-top: 3%;
    padding: 2%;
    background-color: white;
    margin-bottom: 2%;
    width: 75%;
    margin-left: auto;
    margin-right: auto;
}

#email-input {
    left: 6%;
    width: 34.5%;
}

#email-input, #password-change, #weight-input{
    padding: 1%;
    position: relative;

    margin-top: 1.5%;
    margin-bottom: 1.5%;
}

.email-label, .password-label, .weight-label {
    padding-top: 2%;
    float: left;
    margin-left: 33%;  
}

.email-settings, .password-settings, .weight-settings {
    width: 80%;
    
}

#icon-one {
    position: relative;
    left: 8%;
    top: 10%;
}

#icon-two {
    position: relative;
    left: 2%;
}

#icon-three {
    position: relative;
    left: 25.5%;
    margin-bottom:5%;
}

.lb-settings {
    margin-top: -4.5%;
    margin-left: 81%;
    margin-bottom: -2.5%;
}

#password-change {
    width: 34.5%; 
}

.save {
    width: 47%;
    padding-top: 0.75%;
    padding-bottom: 0.75%;
    padding-right: 0%;
    border: 1px solid #ccc;
    margin-right: auto;
    margin-left: auto;
    margin-top: 1%;
    margin-bottom: 1%;
}

#weight-input {
    left: 1.5%;
    width: 29%;
}