.container {
    border: 1px solid #ccc;
    margin-top: 3%;
    padding: 2%;
    background-color: white;
    margin-bottom: 2%;
    width: 75%;
    margin-left: auto;
    margin-right: auto;
}

.form-control {
    margin-left: 5px;
}

.form-group-one {
    padding-top: 0px;
    width: 800px;
    left: 0px;
}

.form-group-two, .form-group-three, .form-group-four {
    padding-top: 2%;
    padding-bottom: 0px;
    padding-right: 0px;
    width: 800px;
    left: 0px;
}

.form-group-five {
    padding-top: 2%;
    padding-bottom: 2%;
    padding-right: 0px;
    width: 800px;
    left: 0px;
}

#name, #email, #weight, #username {
    padding: 7px;
    padding-right: 0px;
    border: 1px solid #ccc;
    box-sizing: border-box;
    float: left;
    position: relative;
}


#name {
    top: 0px;
    left: 80px;
    width: 288px;
    display: inline-block;
}

#email {
    top: 0px;
    left: 113px;
    width: 288px;
    display: inline-block;
}

#weight {
    top: 0px;
    left: 104px;
    margin: 10px;
    width: 250px;
    display: inline-block;
}

#username {
    top: 0px;
    left: 79px;
    width: 288px;
    display: inline-block;
}

#password {
    top: 0px;
    left: -1px; 
    width: 288px;   
    display: inline-block;
    margin-bottom: 0%;  
} 

.label-one, .label-two, .label-three, .label-four, .label-five {
    padding-top: 15px;
    float: left;
    margin-left: 255px;
}

.form-group {
    width: 450px;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-right: 0px;
    border: 1px solid #ccc;
    margin-right: auto;
    margin-left: auto;
    margin-top: 6px;
    margin-bottom: 5px;
}

button {
    box-shadow: none;
    border: none;
    background-color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14pt;
    letter-spacing: -2px;
}

.lb {
    position: relative;
    top: 60px;
    left: -10px;
}