button {
    box-shadow: none;
    border: none;
    background-color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14pt;
    letter-spacing: -0.20%;
}

.container {
    border: 1px solid #ccc;
    margin-top: 3%;
    padding: 2%;
    background-color: white;
    margin-bottom: 2%;
    width: 75%;
    margin-left: auto;
    margin-right: auto;
}

#email-signup {
    left: 14.25%;
    width: 34.5%;
}

.form-group-signup {
    width: 47%;
    padding-top: 0.75%;
    padding-bottom: 0.75%;
    border: 1px solid #ccc;
    margin-right: auto;
    margin-left: auto;
    margin-top: 8.5%;
    margin-bottom: 1%;
}

.form-group-one-signup {
    padding-top: 0px;
    width: 80%;
    left: 0px;
}

.form-group-two-signup, .form-group-three-signup, .form-group-four-signup {
    padding-top: 1%;
    padding-bottom: 0%;
    padding-right: 0%;
    width: 80%;
    left: 0%;
}

.form-group-five-signup {
    padding-top: 2%;
    padding-bottom: 2%;
    padding-right: 0%;
    width: 80%;
    left: 0%;
}

#name-signup {
    left: 10%;
    width: 34.5%;
}

#name-signup, #email-signup, #weight-signup, #username-signup, #password-signup {
    margin-left: 4.75%;
    padding: 1%;
    border: 1px solid #ccc;
    box-sizing: border-box;
    float: left;
    position: relative;
    margin-top: 1.5%;
    margin-bottom: 1.5%;
}

.label-one, .label-two, .label-three, .label-four, .label-five {
    padding-top: 2%;
    float: left;
    margin-left: 33%;
}

.lb-signup {
    margin-top: 14%;
    margin-left: 79%;
    margin-bottom: 1%;
}

#password-signup {
    left: 10.3%; 
    width: 34.5%; 
    margin-bottom: 0%; 
} 

#username-signup {
    left: 9.8%;
    width: 34.5%;
}

#weight-signup {
    left: 13%;
    margin-top: 1.5%;
    margin-bottom: 1.5%;
    width: 29%;
}
