.container {
    border: 1px solid #ccc;
    margin-top: 3%;
    padding: 2%;
    background-color: white;
    margin-bottom: 2%;
    width: 75%;
    margin-left: auto;
    margin-right: auto;
}

.forgot-password {
    position: relative;
    left: -160px;
    top: 0px;
    padding-bottom: 5px;
}

.form-group-one {
    padding-top: 5%;
}

.form-group-two {
    padding-bottom: 35px;
    padding-top: 10px;
}

.form-group-one, .form-group-two {
    position: relative;
    left: 0px;
}

input[type=text], input[type=password] {
    padding: 7px;
    border: 1px solid #ccc;
    box-sizing: border-box;
    width: 272px;
    margin: 10px;
    position: relative; 
}

#username {
    left: 60px;
}

#password {
    left: 5px;
}

.username-input, .password-input {
    padding-top: 15px;
    float: left;
    margin-left: 254px;
}


.form-group {
    width: 450px;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-right: 0px;
    border: 1px solid #ccc;
    margin-right: auto;
    margin-left: auto;
    margin-top: 6px;
    margin-bottom: 5px;
}

button {
    box-shadow: none;
    border: none;
    background-color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14pt;
    letter-spacing: -2px;
}

.new-message {
    position: relative;
    left: 145px;
    top: 0px;
    margin-bottom: 0px;
    padding-bottom: 0px;
    padding-top: 5px;
}